* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --golden-yellow: #e6c744;
  --white: #ffffff;
  --black: #000000;
  --bg-color1: #f4f6f5;
  --mustard-yellow: #ebd96b;
  --grey: #7f7f7f;
  --six-bg-color: #e5c643;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  padding: 2rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-weight: 900;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 0.625rem;
}

.nav--bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav--bar ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-weight: 500;
  font-size: 22px;
}

a {
  text-decoration: none;
  padding: 0.625rem;
  color: var(--black);
}

#btn-login {
  border: 1px solid var(--black);
  margin-left: 3.5rem;
  border-radius: 7px;
  padding: 1rem 1.25rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  font-size: 22px;
}

/*main section*/
/*section one*/
.section--one {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100vw;
  height: 55rem;
  border-radius: 59px;
  background-color: var(--bg-color1);
  margin: auto;
  padding-right: 5rem;
  padding-top: 3rem;
  position: relative;
}
.section--one-txt {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-left: 6.5rem;
  gap: 3.2rem;
}

.img--girl {
  grid-column: 2;
  align-self: end;
}

.yellow-rect {
  position: absolute;
  bottom: 26rem;
  left: 5.3rem;
}
.white-rect {
  position: absolute;
  top: 3rem;
  left: 5rem;
}
.star1 {
  position: absolute;
  top: 8rem;
  right: 15rem;
}
.star2 {
  position: absolute;
  top: 4rem;
  right: 60.5rem;
}
.star3 {
  position: absolute;
  bottom: 3rem;
  left: 57rem;
}
.star4 {
  position: absolute;
  bottom: 6rem;
  right: 6.25rem;
}

.section--one-h {
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 1;
}
#section--one-p {
  font-size: 2rem;
  font-weight: 400;
}
.btn-shop-now {
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 1rem 1.25rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 500;
  font-size: 2rem;
}
/*Brands*/
.brands {
  max-width: 100vw;
  height: 12rem;
  background-color: var(--mustard-yellow);
  padding: 4rem 0rem;
  margin: 3.2rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
  align-items: center;
  margin-left: 6.25rem;
  margin-top: 4.5rem;
}

.explore-now {
  margin-left: -0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey);
  margin-right: 18rem;
}

/*section two*/
.section--two {
  position: relative;
}
.vector {
  position: absolute;
  top: 2rem;
  left: 22rem;
}
.title-section--two {
  font-size: 3rem;
  font-weight: 900;
  z-index: 1;
  position: relative;
  margin-left: 6.25rem;
  letter-spacing: 6%;
  text-transform: uppercase;
}
.section--two-p {
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.img-card {
  position: relative;
}
.arrow-link {
  position: absolute;
  bottom: 1.25rem;
  left: 27rem;
}
/*section three*/

.section--three {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 60.5rem;
  background: linear-gradient(
    1.32deg,
    #e0c340 0.13%,
    #dfc23e 3.97%,
    #e1c441 7.2%,
    #e3c743 10.13%,
    #e4c542 12.98%,
    #e6c744 15.99%,
    #e7c845 19.52%,
    #e5c643 23.96%,
    #e6c945 30.43%,
    #e3c743 36.49%,
    #e9ca48 42.49%,
    #edce49 49.35%,
    #f0d44c 55.42%,
    #f4d84f 61.43%,
    #f6da52 65.74%,
    #f7db53 72.23%,
    #f9dd55 77.43%,
    #f9df56 83.84%,
    #fae157 91.52%,
    #f9df56 97.87%
  );
  margin: 9.5rem 0rem;
  position: relative;
}
.section--three-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin-bottom: 6.25rem;
}
.white-rect-sec {
  position: absolute;
  top: 6rem;
  right: 29rem;
}
.section--three-p {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 3.27rem;
}
.star5 {
  position: absolute;
  top: 10.6rem;
  left: 9.4rem;
}
.star6 {
  position: absolute;
  bottom: 25rem;
  left: 12.5rem;
}
.star7 {
  position: absolute;
  bottom: 15.6rem;
  left: 50rem;
}
.star8 {
  position: absolute;
  top: 6rem;
  left: 47rem;
}

/*section four*/

.section--four {
  position: relative;
  max-width: 100vw;
}
.vector-v {
  position: absolute;
  top: 3rem;
  left: 29.5rem;
}
.arrows {
  position: absolute;
  bottom: 1.25rem;
  left: 48.7rem;
}
/*sectiion-five*/

.section--five {
  margin-top: 9.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 100vw;
}
#section--five-h {
  font-size: 3rem;
  font-weight: 900;
  z-index: 1;
  position: relative;
}
.section--five-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-right: 6.25rem;
  position: relative;
}

.section--five-p {
  line-height: 3.2rem;
  color: var(--grey);
  font-weight: 500;
  font-size: 1.5rem;
  margin-right: 7.5rem;
}
.btn-link {
  display: flex;
  margin-right: 6.25rem;
}
.img-styles {
  justify-self: end;
  margin-right: 15.6rem;
}
.golden-ellipse-big {
  position: absolute;
  top: 7.8rem;
  right: 12.5rem;
}
.golden-ellipse-small {
  position: absolute;
  bottom: 7rem;
  right: 52.5rem;
}
.grey-ellipse-small {
  position: absolute;
  bottom: 13.75rem;
  right: 10.6rem;
}
.grey-ellipse-big {
  position: absolute;
  top: 8.75rem;
  right: 50rem;
}

.ellipse1 {
  position: absolute;
  top: 7.5rem;
  right: 11.25rem;
  z-index: -1;
}
.ellipse5 {
  position: absolute;
  top: 10.6rem;
  right: 14.4rem;
  z-index: -1;
}
.ellipse6 {
  position: absolute;
  top: 13.7rem;
  right: 17.5rem;
  z-index: -1;
}
/*section six*/

.section--six {
  background-color: var(--six-bg-color);
  max-width: 100vw;
  height: 39rem;
  text-align: center;
  padding: 8.12rem;
  margin-top: 8.12rem;
  line-height: 6.25rem;
}
#promo-title {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4.5rem;
  letter-spacing: 3%;
  color: var(--white);
}
.promo-p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 3%;
  color: var(--white);
}
#email {
  width: 36rem;
  height: 5.4rem;
  border: 1px solid var(--white);
  border-radius: 10px;
}
.input-container {
  position: relative;
}
.input-container button {
  width: 10rem;
  height: 4.2rem;
  background-color: var(--black);
  border: 1px solid black;
  border-radius: 8px;
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 3%;
  text-transform: uppercase;
  position: absolute;
  top: 1.1rem;
  right: 34rem;
}
.input-container input::placeholder {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grey);
  text-transform: lowercase;
  letter-spacing: 3%;
  padding-left: 1.8rem;
}
/*footer*/

.footer {
  max-width: 100vw;
  height: 34rem;
  background-color: var(--black);
  color: var(--grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#fashion {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--white);
  margin-bottom: 1.8rem;
}
.icons {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}
.footer-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.12rem;
  padding: 1.25rem 3.12rem;
  background-color: #000;
  color: white;
}

.footer ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin-bottom: 1.8rem;
}

.footer-column ul li:first-child a {
  color: white;
}

.footer ul li a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.5rem;
}

.footer ul li a:hover {
  color: white;
}
/*-------------------------------------------------------------------------------------------------*/

/* Header's Responsive*/
@media only screen and (max-width: 912px) {
  .header {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .logo h1 {
    font-size: 30px;
  }
  .nav--bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 18px;
  }
  .nav--bar ul {
    list-style: none;
    gap: 10px;
    font-weight: 300;
    font-size: 15px;
  }

  #btn-login {
    font-size: 15px;
    padding: 8px 14px;
    margin-right: 60px;
  }
}
@media only screen and (min-width: 1440px) {
  .header {
    padding: 30px 100px;
  }
}

/*section one*/
@media only screen and (max-width: 912px) {
  .section--one {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    background: url("./responsivephotos/girl-poster-tablet.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 5rem 0rem;
  }

  .section--one-txt {
    text-align: center;
    align-items: center;
    padding-left: 0;
    gap: 2rem;
  }

  .section--one-h {
    font-size: 4rem;
  }

  .btn-shop-now {
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
    background-color: palevioletred;
    border: 1px solid palevioletred;
  }

  .img--girl img {
    display: none;
  }

  .yellow-rect,
  .white-rect {
    display: none;
  }
  .section--one-h {
    background: rgba(255, 255, 255, 0.2);
  }
  #section--one-p {
    color: var(--golden-yellow);
    background-color: palevioletred;
  }
  .star1 {
    top: 3rem;
    right: 5rem;
  }
  .star2 {
    top: 1rem;
    left: 3rem;
  }
  .star3 {
    bottom: 1rem;
    left: 3rem;
  }
  .star4 {
    bottom: 3rem;
    right: 5rem;
  }
}
/* Responsive  for Brands Section */
@media only screen and (max-width: 912px) {
  .brands {
    height: auto;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
  }
  .hm img {
    max-width: 100%;
  }
}

/* Responsive  for Section Two */
@media only screen and (max-width: 912px) {
  .section--two {
    padding: 2rem;
  }

  .title-section--two {
    font-size: 2.5rem;
    text-align: center;
    margin-right: 4rem;
  }
  .vector {
    top: 4.5rem;
    left: 38rem;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-left: 10rem;
  }

  .img-card {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  .explore-now {
    margin-left: -0.7rem;
    font-size: 1.25rem;
  }

  .vector img {
    max-width: 50px;
  }

  .arrow-link img {
    width: 30px;
  }
}

/* Responsive  for Section Three */
@media only screen and (max-width: 912px) {
  .section--three {
    grid-template-columns: 1fr;
    height: auto;
    padding: 2rem;
    text-align: center;
  }

  .section--three-txt {
    align-items: center;
    gap: 2rem;
  }

  .yellow-girl img {
    max-width: 70%;
    height: auto;
  }

  .section--three-p {
    font-size: 1.5rem;
  }

  .btn-shop-now {
    font-size: 1.5rem;
    padding: 0.8rem 1.2rem;
  }
  .white-rect-sec {
    display: none;
  }
  .star5 {
    top: 3rem;
    left: 4rem;
  }
  .star6 {
    left: 44rem;
  }
  .star7 {
    bottom: 18rem;
    left: 10rem;
  }
  .star8 {
    bottom: 5rem;
    left: 45rem;
  }
}

/* Responsive  for Section Four */
@media only screen and (max-width: 912px) {
  .section--four {
    padding: 2rem;
    max-width: 83vw;
  }

  .cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-left: 10rem;
  }

  .img-card {
    width: 100%;
    height: auto;
  }

  .explore-now {
    font-size: 1.5rem;
  }
}

/* Responsive  for Section Five */
@media only screen and (max-width: 912px) {
  .section--five {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
  }

  .section--five-txt {
    margin: auto;
  }

  .section--five-p {
    font-size: 1.25rem;
    margin: auto;
  }

  .btn-link {
    justify-content: center;
    margin-top: 1rem;
    margin: auto;
  }

  .img-styles,
  .golden-ellipse-big,
  .golden-ellipse-small,
  .grey-ellipse-big,
  .grey-ellipse-small {
    display: none;
  }
}

/* Responsive  for Section Six */
@media only screen and (max-width: 912px) {
  .section--six {
    padding: 3rem;
    height: auto;
  }

  #promo-title {
    font-size: 2rem;
  }

  .promo-p {
    font-size: 1.25rem;
  }

  #email {
    width: 100%;
    max-width: 400px;
    height: 3rem;
    padding-left: 1rem;
  }

  .input-container button {
    width: 5rem;
    height: 2.5rem;
    padding: 1rem;
    font-size: 1rem;
    top: 1.87rem;
    right: 12.6rem;
  }
}

/* Responsive Adjustments for Footer */
@media only screen and (max-width: 912px) {
  .footer {
    display: flex;

    padding: 2rem;
    text-align: center;
  }

  #fashion {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .icons {
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .footer-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  .footer-column ul li {
    margin-bottom: 0.5rem;
  }

  .footer ul li a {
    font-size: 1rem;
  }
}
